<html>
<head>
	<% include ./partials/head %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		*, *:before, *:after {
			box-sizing: border-box;
		}

		p {
			color: #eee;
			text-align: center;
			margin: 60px 0 30px 0;
		}

		li {
			list-style: none;
		}

		body {
			font-family: "Open Sans", sans-serif;
			background: #34495e;
			font-size: 14px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility;
		}

		.container {
			background: #2c3e50;
			overflow: hidden;
			width: 360px;
			margin: 0 auto;
			color: #FFF;
			border-radius: 3px 3px 0 0;
			box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
		}
		.container .title {
			background: #3498db;
		}
		.container h1 {
			font-size: 20px;
			font-weight: 600;
			padding: 10px 15px;
			text-transform: uppercase;
		}

		.add {
			float: right;
			border-radius: 3px;
			margin-top: 27px;
			margin-right: 10px;
			width: 35px;
			height: 26px;
			background: #2980b9;
		}
		.add:hover {
			background: rgba(0, 0, 0, 0.3);
			cursor: pointer;
		}

		.row {
			color: #333;
			background: #FFF;
			width: 100%;
			height: 40px;
			padding-left: 10px;
			line-height: 2.8;
		}
		.row:hover a {
			width: 40px;
			opacity: 1;
		}
		.row:nth-child(2n) {
			background: #f7f7f7;
		}
		.row:hover {
			background: #eee;
		}

		.remove, .completed {
			float: right;
			text-align: center;
			height: 40px;
			width: 0;
			background: #2ecc71;
			color: #FFF;
			opacity: 0;
			text-decoration: none;
			display: inline-block;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		.remove:hover, .completed:hover {
			background: #27ae60;
		}

		.remove {
			background: #e74c3c;
		}
		.remove:hover {
			background: #c0392b;
		}

		.done {
			text-decoration: line-through;
			color: #ccc;
		}
		button {
			border: none;
		}
		button .fa {
			top: 3px;
			height: auto !important;
		}
		.add-new {
			float: right;
			height: 40px;
			width: 40px;
			text-align: center;
			background: #2ecc71;
			color: #FFF;
			line-height: 2.8;
			-webkit-transition: all 0.3s linear;
			transition: all 0.3s linear;
		}
		.add-new:hover {
			background: #27ae60;
		}

		.new-task {
			display: none;
			margin-bottom: 10px;
		}

		.new-task.show {
			display: inline;
		}
		.new-task input {
			-webkit-appearance: none;
			-moz-appearance: none;
			border-radius: 0;
			background: #ecf0f1;
			color: #333;
			font-size: 14px;
			font-family: "Open Sans", sans-serif;
			width: 80%;
			padding: 5px 10px;
			height: 40px;
			border: none;
			outline: none;
		}

		.ui-sortable-helper {
			box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
		}

		.fa
		{
			position: relative;
			top: 50%;
			transform: translateY(-25%);  
			width: 100%;
			height: 100%;
		}
		.add .fa
		{
			left: 50%;
			transform: translate(-5px, -5px);
		}

	</style>
</head>
<body>
	<% include partials/header %>

<div class='container'>
	<div class='add'>
		<i class='fa fa-plus'></i>
	</div>
	
	<div class='title'>
		<h1>Things to do</h1>
	</div>
	
	<div class='new-task'>
		<form action="">
			<input id='todo-text' placeholder='New task'>
			<button class='add-new' href='#'>
				<i class='fa fa-plus'></i>
			</button>
		</form>
	</div>
	
	<ul class="tasks">
		<li class='row'>
			<a class='remove' href='#'>
				<i class='fa fa-trash-o'></i>
			</a>
			<a class='completed' href='#'>
				<i class='fa fa-check'></i>
			</a>
			Buy food
		</li>
		
		<li class='row'>
			<a class='remove' href='#'>
		    	<i class='fa fa-trash-o'></i>
			</a>
			<a class='completed' href='#'>
				<i class='fa fa-check'></i>
			</a>
			Clean the house
	</ul>
</div>

<script>
	
	var add_elmt = document.querySelector('.add').children[0];
	var new_task = document.querySelector('.new-task');

	add_elmt.addEventListener('click', function(e) {
		new_task.classList.toggle('show');
		console.log(new_task.classList);
	});

</script>

</body>
</html>